@model List<MVCTest.Models.Employee>

<h1>List Employee</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email Address</th>
            <th>Phone Number</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Firstname</td>
                <td>@employee.Lastname</td>
                <td>@employee.EmailAddress</td>
                <td>@employee.PhoneNumber</td>
           <td style="display: inline-block;">
    <a asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-primary">Edit</a> |
    <form method="post" asp-action="Delete" asp-route-id="@employee.Id" onsubmit="return confirm('Are you sure you want to delete this employee?');" style="display: inline-block;">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Add Employee</a>

